---
import Redes from './Redes.astro'
---
<footer>
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
              <a href="/" class="flex items-center">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Wikimedia-logo.png" class="h-8 me-3" alt="logo" />
                  <span class="self-center text-2xl font-semibold whitespace-nowrap text-[#F4F5F7]">Docucheck</span>
              </a>
              <p class="text-center text-base text-gray-300 mt-4">
                Sube, corrige y brilla con IA.
              </p>
              <Redes/>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-[#F4F5F7] uppercase">Producto</h2>
                  <ul class="text-gray-300 font-medium">
                      <li class="mb-4">
                          <a href="/caracteristicas" class="hover:underline">Características</a>
                      </li>
                      <li class="mb-4">
                        <a href="/soluciones" class="hover:underline">Soluciones</a>
                    </li>
                      <li>
                          <a href="/tutoriales" class="hover:underline">Tutoriales</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-[#F4F5F7] uppercase">Recursos</h2>
                  <ul class="text-gray-300 font-medium">
                      <li class="mb-4">
                          <a href="https://github.com/JavierMNew/docucheckweb" class="hover:underline ">Github</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold uppercase text-[#F4F5F7]">Legal</h2>
                  <ul class="text-gray-300 font-medium">
                      <li class="mb-4">
                          <a href="/terminos-uso" class="hover:underline">Términos de uso</a>
                      </li>
                      <li>
                          <a href="politica-privacidad" class="hover:underline">Política de privacidad</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
    </div>
</footer>