<div
  class="h-screen w-full overflow-hidden flex flex-nowrap text-center py-4"
  id="slider"
>
  <div
    class="bg-[#3B5444] text-white space-y-4 flex-none w-full flex flex-col items-center rounded-lg pt-6"
  >
    <h2 class="text-4xl max-w-md"> Correcci贸n de Estilo</h2>
    <p class="max-w-md">
      Refinamos la claridad, coherencia y el tono de tu texto. Aseguramos que el
      mensaje sea directo, fluido y profesional.
    </p>
    <img
      class="w-[80%]"
      src="public/contents/corrector-de-textos-editor-ia.png"
      alt=""
    />
  </div>
  <div
    class="bg-[#3B5444] text-white space-y-4 flex-none w-full flex flex-col items-center rounded-lg pt-6"
  >
    <h2 class="text-4xl max-w-md"> Ortograf铆a y Gram谩tica</h2>
    <p class="max-w-md">
      Detectamos y corregimos errores ortogr谩ficos, de puntuaci贸n y gram谩tica.
      Nada pasa desapercibido para nuestra IA.
    </p>
    <img
      class="w-[80%]"
      src="public/contents/corrector-de-textos-editor-ia.png"
      alt=""
    />
  </div>
  <div
    class="bg-[#3B5444] text-white space-y-4 flex-none w-full flex flex-col items-center rounded-lg pt-6"
  >
    <h2 class="text-4xl max-w-md"> Formato Profesional</h2>
    <p class="max-w-md">
      Aplicamos normas de estilo para que tu documento cumpla con est谩ndares
      profesionales y acad茅micos (APA, MLA, etc.).
    </p>
    <img
      class="w-[80%]"
      src="public/contents/corrector-de-textos-editor-ia.png"
      alt=""
    />
  </div>
  <div
    class="bg-[#3B5444] text-white space-y-4 flex-none w-full flex flex-col items-center rounded-lg pt-6"
  >
    <h2 class="text-4xl max-w-md"> Revisi贸n Acad茅mica</h2>
    <p class="max-w-md">
      Para tesis, ensayos y papers. Revisi贸n rigurosa asegurando calidad y citas
      correctamente aplicadas.
    </p>
    <img
      class="w-[80%]"
      src="public/contents/corrector-de-textos-editor-ia.png"
      alt=""
    />
  </div>
  <div
    class="bg-[#3B5444] text-white space-y-4 flex-none w-full flex flex-col items-center rounded-lg pt-6"
  >
    <h2 class="text-4xl max-w-md"> Informe de Mejoras</h2>
    <p class="max-w-md">
      Te entregamos un informe con los cambios sugeridos y aplicados, para que
      aprendas y mejores en futuras redacciones.
    </p>
    <img
      class="w-[80%]"
      src="public/contents/corrector-de-textos-editor-ia.png"
      alt=""
    />
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const slider = document.querySelector("#slider");
    setTimeout(function moveSlide() {
      const max = slider.scrollWidth - slider.clientWidth;
      const left = slider.clientWidth;

      if (max === slider.scrollLeft) {
        slider.scrollTo({ left: 0, behavior: "smooth" });
      } else {
        slider.scrollBy({ left, behavior: "smooth" });
      }

      setTimeout(moveSlide, 2000);
    }, 2000);
  });
</script>
