---
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
import CaracteristicasCards from "../components/CaracteristicasCards.astro";
---

<Layout
  title="Docucheck"
  description="Herramienta en línea para la verificación de documentos"
>
  <SectionContainer class="w-full lg:w-[1080px] mx-auto pb-32 pt-32">
    <h1 class="text-center text-[55px] font-extrabold text-[#F4F5F7]">
      Características que hacen <span
        class="text-transparent bg-clip-text bg-gradient-to-tr from-[#FF8660] to-[#8000FF]"
        >la diferencia.</span
      >
    </h1>
    <p class="text-center text-[20px] text-gray-300 m-4">
      Nuestra herramienta en línea te ofrece una serie de características que te
      ayudarán a verificar tus documentos de manera rápida y eficiente.
    </p>
    <CaracteristicasCards />
  </SectionContainer>
</Layout>
