---
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Docucheck"
  description="Herramienta en línea para la verificación de documentos"
>
  <SectionContainer class="w-full lg:w-[90%] mx-auto pb-32 pt-32">
    <h1 class="text-center text-[55px] font-extrabold text-[#F4F5F7]">
      Política de <span
        class="text-transparent bg-clip-text bg-gradient-to-tr from-[#FF8660] to-[#8000FF]"
        >privacidad.</span
      >
    </h1>
    <p class="text-center text-[20px] text-gray-300 m-4">
      <strong>Datos que recopilamos:</strong> Solo lo necesario para que funcione
      el servicio (correo electrónico, documentos temporales).
    </p>
    <p class="text-center text-[20px] text-gray-300 m-4">
      <strong>Uso de la información:</strong> Se usa solo para revisar el documento,
      no compartimos datos con terceros.
    </p>
    <p class="text-center text-[20px] text-gray-300 m-4">
      <strong>Protección de la información:</strong> Encriptación y medidas de seguridad
      para proteger los documentos.
    </p>
    <p class="text-center text-[20px] text-gray-300 m-4">
      <strong>Tiempo de almacenamiento:</strong> Los documentos se eliminan automáticamente
      después de la corrección (por ejemplo, en 24 horas).
    </p>
    <p class="text-center text-[20px] text-gray-300 m-4">
      <strong>Cookies:</strong> Usamos cookies para mejorar la experiencia del usuario.
    </p>
    <p class="text-center text-[20px] text-gray-300 m-4">
      <strong>Derechos del usuario:</strong> El usuario puede modificar o eliminar
      sus datos en cualquier momento.
    </p>
    <p class="text-center text-[20px] text-gray-300 m-4">
      <strong>Contacto:</strong> Para dudas de privacidad, contáctanos a través de
      nuestro correo electrónico.
    </p>
  </SectionContainer>
</Layout>
